@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: 0;
  background: transparent;
}

a, a:hover, a:visited {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  margin: 0;
}

sup { 
  font-size: x-small;
}

.hide {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* dragabble list */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

@media only screen and (min-width: 544px) {
  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  
  h2 {
    font-size: 48px;
  }

  sup {
    font-size: small;
  }
}