@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: border-box;
}

input {
  outline: none;
  border: 0;
  background: transparent;
}

a, a:hover, a:visited {
  text-decoration: none;
}

sup { 
  font-size: x-small;
}

.Intro {
  background: linear-gradient(#5bd3ff, #abcafd);
  color: rgba(255,255,255,0.9);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding: 0 20px;
}

.Intro h1 {
  display: inline-block;
  font-weight: 600;
  color: rgba(0,0,0,0.3);
}

.intro-bee {
  margin-left: 10px;
  width: 50px;
  height: 58.03px;
}

.Main {
  /* background: rgb(146,209,246); */
  /* background: rgb(146,211,248);
  background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, rgb(133,213,250) 0%, rgb(93,176,248) 100%); */
  /* background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(50deg, #00A3E6 0%, #3FC7FF 100%); */
  background: url(/clouds-bg.png) bottom -17% left 21%/ 114% no-repeat, linear-gradient(#9ae2fd, #a1c4fd);
  color: #fff;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  margin: 0;
}

.btn-intro {
  background: #fff;
  border-radius: 50px;
  width: 125px;
  padding: 6px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: center;
}

.btn-intro, .btn-intro:visited {
  color: rgb(148,205,251);
}

header {
  padding: 20px;
  position: absolute;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  margin-left: 20px;
  color: rgba(0,0,0,0.3);
}

main {
  font-family: 'Nunito', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-wrapper {
  border-radius: 15px;
  box-shadow: 3px 3px 10px #a6dcf5;
  background: rgba(255,255,255,0.95);
  margin: 0 20px;
}

.clickable {
  cursor: pointer;
}

/* List */
.list {
  color: #3FC7FF;
  padding: 23px 0 100px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  width: 84%;
  position: relative;
  margin: 0 auto;
}

.list-header {
  display: flex;
  font-weight: 700;
  font-size: 13px;
  color: #b0bec5;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  color: rgb(163,202,251);
  color: #304A6E;
}

.list-header > div:first-child {
  flex-basis: 60%;
}

.list ul {
  padding: 20px 0 0 5px;
}

.list-item {
  font-size: 17px;
  color: #304a6ea3;
  font-weight: 600;
  margin-top: 5px;
}

.list-item > div {
  display: flex; 
}

.list-item-desc {
  flex-basis: 60%;
  max-width: 60%;
}

/* .list-item div > :not(.list-item-desc) {
  flex-basis: 10%;
  max-width: 10%;
} */

.list-edit {
  width: 20.39px;
  height: 18px;
  margin-right: 5px;
  margin-left: 5px;
}

.list-cancel {
  width: 13px;
  height: 13px;
}

.list-time-controls {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
}

.list-controls {
  display: flex;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(102,102,102,0.4);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 90;
  display: none;
}

.list-form {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: calc(100vw - 40px);
  max-width: 450px;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #78b3fd;
}

.list-form input {
  border-bottom: 2px solid rgb(163,202,251,0.3);
  max-width: 300px;
  padding: 5px 0;
  font-size: 20px;
  color: #78b3fd;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.list-form input:invalid {
  box-shadow: none;
}

.list-form input[type="number"] {
  max-width: 40px;
}

.list-form input::placeholder {
  color: rgba(163,202,251,0.3);
}

.list-form input[type="submit"] {
  background: #bcc2ff;
  color: #fff;
  border-radius: 50px;
  width: 110px;
  margin: 20px 0 0 0;
}

.list-form span {
  font-weight: 500;
}

.list-form h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
}

#estimated-min {
  margin-left: 15px;
}

.btn {
  background: #a4e3fc;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 32px;
  font-size: 25px;
}

.add-btn {
  top: 20px;
  right: -10px;
}

.add-btn, .cancel-btn {
  position: absolute;
  width: 25px;
}

.cancel-btn {
  top: 20px;
  right: 20px;
}

/* Time on Main Page */
.time-wrapper {
  color: #fff;
  width: 84%;
  font-size: 30px;
  margin: 0 auto;
}

.time-wrapper svg {
  margin-right: 10px;
  width: 55px;
  height: 55px;
}

.start-time, .end-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  justify-content: start;
}

.start-time {
  color: #85e4b1;
  padding-top: 20px;
}

.end-time {
  color: #FF8A8A;
}

.time-title {
  font-size: 15px;
  font-weight: 400;
}

.time-input {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.time-input-wrapper {
  position: relative;
}

.time-input select {
  background: transparent;
  font-size: 32px;
  color: #fff;
  border: 0;
  /* -webkit-appearance:none; */
}

#time-divider {
  font-size: 32px;
  color: #fff;
}

.time-input label {
  position: absolute;
  bottom: -15px;
  left: 3px;
  display: none;
}

.time-input label.active {
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.main-desc {
  font-size: 15px;
  color: #4d6484;
  line-height: 1.5;
  padding: 30px 0 0 0;
}

.main-desc span {
  font-weight: 700;
  font-size: 17px;
  color: #304a6e;
}

/* dragabble list */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

@media only screen and (min-width: 544px) {
  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 36px;
  }

  .intro-bee {
    margin-left: 17px;
    width: 75px;
    height: 87.05px;
  }

  .btn-intro {
    width: 135px;
    padding: 7px;
    font-size: 19px;
  }

  .time-input select, #time-divider {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  
  h2 {
    font-size: 48px;
  }

  sup {
    font-size: small;
  }

  .Intro {
    padding: 0 30px;
  }

  .intro-bee {
    margin-left: 15px;
    width: 100px;
    height: 116px;
  }

  .btn-intro {
    width: 150px;
    padding: 8px;
    font-size: 20px;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 700px;
  }

  .main-wrapper {
    display: flex;
  }

  .main-desc {
    padding: 0 20px 40px 40px;
  }

  .list {
    border: 0;
    padding: 55px 25px;
    width: 418px;
    max-width: 418px;
    margin: 0;
    height: 500px;
  }

  .list-item {
    font-size: 19px;
  }

  .list-header {
    font-size: 16px;
  }

  .list-edit {
    width: 28.33px;
    height: 25px;
    margin-left: 0;
    margin-right: 10px;
  }
  
  .list-cancel {
    width: 15px;
    height: 15px;
  }

  .time-wrapper {
    width: 340px;
    height: 200px;
    margin: 0;
    max-width: 340px;
    height: 500px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .time-wrapper svg {
    margin-right: 10px;
    width: 75px;
    height: 75px;
  }

  .start-time {
    padding-top: 0;
  }

  .start-time, .end-time {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .time-input select, #time-divider {
    font-size: 54px;
  }

  .btn {
    width: 40px;
    font-size: 30px;
  }

  .add-btn, .cancel-btn {
    top: 20px;
    right: 20px;
    width: 35px;
  }
}